:root{
    --axent-color:#2196f3;
    --white-color:#fff;
    --main-color:#212121;
    --grey:#757575;
    --bg-color:#2f303a;
    --bg-sec-color:#f5f4fa;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;



}
body{
    font-family: "Roboto", sans-serif;
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    padding-top:32px;
    padding-bottom: 32px;
}

.logo {
    font-family: "Raleway",sans-serif;
    color: var(--axent-color);
    font-size: 26px;
    line-height: 1.7;
    font-weight: 700;
   letter-spacing: 3%;
  
   
 
}
.blue {
    color: var(--axent-color);
    font-family: 'Raleway',sans-serif;
}
.black {
    color: var(--main-color);
    font-family: 'Raleway',sans-serif;
}
.white{
    color: var(--white-color);
    font-family: 'Raleway',sans-serif;
}
.navigation {
}
.navigation-list {
    display: flex;
    justify-content: space-between;
    justify-content: center;
   
}
.option-list{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-right: 30px;

}
.option-list:last-child{
    margin-right: 0;
}
.third-pic{
    width: 370px;
    
}

.third-pic:last-child{

}
.nav-item {
    margin-right: 50px;


   
}
.nav-item:last-child{
    margin-right: 0;
}

.nav-link {
    color: var(--main-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
  
}
.nav-link:hover,
.nav-link:focus{
    color: var(--axent-color);

}

.main {
}
.first-section {
    background-color: var(--bg-color);
    padding: 205px 452px;
    
}


.title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    color: var(--white-color);
    background-color: var(--bg-color);
    text-align: center;
    padding: 69px 120px;
  
    
}
.btn {
    color: var(--white-color);
    background-color: var(--axent-color);
    padding: 10px 32px;
   margin: 0 auto;
    display: block;
    font-family: 'Roboto',sans-serif;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87; 
    
    
    

}
.main-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 94px;
  margin-top: 50px;
}
.main-item {
 

}



.main-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.3%;
    color: var(--grey);
    margin-bottom: 124px;
    margin-bottom: 118px;
  
}
.main-second-item{
    
    

}

.main-pretitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 3%;
}
.main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 3%;
    margin-top: 94px;
    margin-bottom: 50px;

}
.third-pic {
}
.main-team {
    background-color: var(--bg-sec-color);
}


.main-img {
}
.main-workperson {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
 
    letter-spacing: 3%;
}


.footer{
    background-color: var(--bg-color);
}
.option {
    font-size: 14px;
    line-height: 1.71;
    color: var(--white-color);
    
   
    margin-bottom: 9px;
}
.optionL:last-child{
   padding-bottom: 60px;
}
.footer-logo{
}
/*портфолио */
button:hover,
button:focus{
    background-color: var(--axent-color);
    color: var(--white-color);
}

.button{
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 1.62;
    font-weight: 500;
    color: var(--main-color);
    border-radius: 4px;
   padding: 6px 22px;
border: none; 
}
.portfolio-navigation {
}
.portfolio-list {
}
.portfolio-item {
 
    
}
.portfolio-img {
    width: 370px;
    height: 294px;

margin: 34px;
   
}
.portfolio-pretitle {
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height:  2;
    padding: 20px  25px;
}

.portfolio-text {
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height:  1.87;
    color: var(--grey);
    padding-top: 4px;
  
}
.portfolio-podpis {
}
.portfolio-img{
    
}
