img {
  width: 100%;
  height: 100%;
}
.main-team {
  padding: 60px 0;
  @media (min-width: 1200px) {
    padding: 94px 0;
  }
  background-color: $bg-sec-color;
}
.main-title-team {
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 3%;
  margin-top: 94px;
  margin-bottom: 30px;
  font-size: 28px;

  @media (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.main-list-team {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 94px;
  padding-top: 50px;
  border-radius: 4px;

  @media (min-width: 768px) and (max-width: 1999px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media (min-width: 1200px) {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
.icon-team {
  width: 20px;
  height: 20px;
}

.item {
  box-shadow: 0px 2px 1px 0px #00000033;

  box-shadow: 0px 1px 1px 0px #00000024;

  box-shadow: 0px 1px 3px 0px #0000001f;

  justify-items: center;
  justify-content: space-between;
  margin-right: 20px;

  @media (min-width: 768px) and (max-width: 1999px) {
    width: 354px;
  }
  @media (min-width: 1200px) {
    width: 270px;
  }
}

.main-workperson {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  padding-top: 30px;
  padding-bottom: 10px;
  letter-spacing: 3%;
}
